@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap&subset=latin');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #FAFCFF;
  background: linear-gradient(111.34deg, #011327 20.23%, #021C3B 71.55%);
  min-height: 100dvh;
  font-family: 'Alegreya', serif;
  scroll-behavior: smooth;
}

a:hover{
  color: #086AE2;
  transition-property: color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    cursor: pointer;
}

.bg-date{
  background: linear-gradient(111.34deg, #086AE2 20.23%, #0E76F6 71.55%);
}

